body{
    font-family: 'Roboto', sans-serif;
    color: white;
    position: relative;
}

h1{
    font-size: 1.5rem;
}

.active{
    background-color: #f0db4f !important;
}

.background-yellow{
    background-color: #f0db4f
}

.btn-cv{
  border-radius: 100px;
  background: #323330;
  opacity: 0.85;
  padding: 20px;
  width: 80px;
  height: 40px;
  font-size: 1.5rem;
  color: white;
}


.circle {
    width: 230px;
    height: 230px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-color: white;
    margin: 1rem;
}

.display{
    display: inline-block;
}

.font-size{
    font-size: 1rem;
}

.font-yanone{
    font-family: 'Yanone Kaffeesatz', sans-serif;
}
.font-uica{
    font-family: 'Unica One', cursive;
}

.container{
    padding: 2.5rem !important;
}

.margin-bottom{
    margin-bottom: 13%;
}

.mr-md-5{
    margin-right: 8rem !important;
}

.padding-top-contact{
    padding-top: 7%
}

.padding-top{
    padding-top: 13%;    
}

.shadowtxt{
    text-shadow: 2px 3px #323330;
}

.slideanim {
    visibility:hidden;
    visibility: visible\9;/*For old IE browsers IE6-8 */
}

.slideanim.slide {                  
    visibility: visible;                  
    animation: slide 1s;
}

.slideanim::after {
    /* useful when its child elements are float:left; */
    content: "";
    display: table;
    clear: both;
}


.section-one {
    background-image: url("../images/fondo_escritorio.jpg");
    background-size: cover;
    background-position: 0% 70%;
    background-repeat: no-repeat;
    height: 100vh;
    padding-top: 35vh;
}

.section-two {
    background-color:#1a1a1a;
    height: 100%;
}

.section-three {
    height: 100%;
    background-image: url(../images/fondo\ pantalla.jpg);
}

.section-four {
    padding-top: 4rem;
    padding-bottom: 7rem;
    height: 100%;
    background-color:#1a1a1a;
    align-content: top;
}


.section-six {
    height: 80vh;
    background-image: url('../images/signos.png');
    background-size: cover;
    background-position: 50% 100%;
    background-repeat: no-repeat;
}

.text-big{
    font-size: 3rem;
}

.tex-big-one{
    font-size: 3rem;
}

.text-md{
    font-size: 1.5rem;
}

.text-sm {
    text-size-adjust: 10px;
}

.text-2 {
    font-size: 5rem;
}


.yellowtxt{
    color: #f0db4f;
}

#skills{
    padding-top: 30;
}


@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(50%);
    } 
    100% {
        opacity: 1;
        transform: translateY(0);
    } 
}

@media (min-width: 320px){
    .margin-top{
        margin-top: -3rem;
    }
    .text-big-one{
        font-size: 3.5rem;
    }

}
@media (min-width: 374px){
    .text-big-one{
        font-size: 4.5rem;
    }
    .margin-bottom{
        margin-bottom: 4%;
    }
    .margin-top{
        margin-top: 1rem;
    }
}

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 812px)
and (-webkit-device-pixel-ratio : 3) { 
    .margin-top{
    margin-top: 5rem;
    }
    .md-mt-5{
        margin-top: 10vh !important;
    }
}

@media(min-width: 767px){
    .text-big-one{
        font-size: 6rem;
    }
    .pulse{
        font-size: 2.3rem;
    }
    .margin-top{
        margin-top: 8%;
    }
    .section-two {
        height: 100vh;
    }
    .section-three {
        height: 100vh;
    }
    .font-size{
        font-size: 2rem;
    }
    .md-h3-responsive{
        font-size: 1.7rem !important;
    }
    .margin-bottom{
        margin-bottom: 15vh;
    }
    .md-mt-5{
        margin-top: 15vh !important;
    }
    
}

@media(min-width: 812px){
    .margin-bottom{
        margin-bottom: 9%;
    }
}

@media(min-width: 992px){
    .section-two{
        padding-top: 20vh;    
    }
    .section-six {
        background-position: 50% 50%;
    }
    .md-mt-5{
        margin-top: 10vh !important;
    }
    .margin-top{
        margin-top: 10%;
    }
    .text-md{
        font-size: 2.5rem;
    }
    .text-big{
        font-size: 3.5rem;
    }
    .font-size{
        font-size: 1.4rem;
    }
    .center{
        padding-top: 3.5rem;
    }
    
}

@media(min-width: 1020px){
    .text-big-one{
        font-size: 9rem;
    }
    .pulse{
        font-size: 3rem;
    }
    .text-2 {
        font-size: 10rem;
    }
    .font-size{
        font-size: 2rem;
    }
    .center{
        padding-top: 15rem;
    }
    .margin-bottom{
        margin-bottom: 10%;
    }
    .text-big{
        font-size: 7vh;
        padding-top: 25%
    }
    .md-h3-responsive{
        font-size: 2rem !important;
    }
    .text-md{
        font-size: 4rem;
    }
}

@media(min-width: 1200px){ 
    .text-2 {
        font-size: 7rem;
    }
    .font-size{
        font-size: 1.5rem;
    }
    .padding-top{
        padding-top: 8%;    
    }
    .center{
        padding-top: 3.5rem;
    }
    .md-h3-responsive{
        font-size: 2rem !important;
    }
    .margin-top{
        margin-top: 8%;
    }
    .text-big{
        font-size: 7vh;
        padding-top: 2%
    }
    .text-md{
        font-size: 2.5rem;
    }
    
}